body{
	background-color:black;
	margin:0px;
	padding:0px;
	display:flex;
	align-items: center;
	flex-direction:column;
	justify-content: center;
	text-align:center;
	color:white;
	min-width:680px;
}

.nav{width:25%;}

nav{
	display:flex;
	justify-content:space-between;
	background-color:gray;
	border-radius : 0px 0px 20px 20px;
	border-bottom:;
	width: 100%;
	height: 60px;
}


nav>div,nav>div>div{
	height: 100%;
	min-width: 10px;
	margin-left:20px;
	margin-right:20px;
	display:flex;
	align-items:center;
	border-radius:20px;
	cursor:pointer;
}
#menu>div:hover{
	background-color:#606060;
	padding: 0px 20px 0px 20px;
}
main{
	margin-bottom:70px;
	width: 100%;
	display:flex;
	justify-content:space-evenly;
}


#mainleft{
	border-radius : 20px 0px 20px 20px;
	width: 15%;
	max-width:600px;
	min-height: 40px;
}


#maincenter{
	border-radius : 0px 0px 20px 20px;
	width: 70%;
	max-width:1440px;
	min-height: 40px;
}


#mainright{
	padding:6px;
	text-align:left;
	width: 15%;
	max-width:600px;
	min-height: 40px;
}

#mainright>div{
overflow:scroll;
overflow-y: hidden;
overflow-x: hidden;
}


textarea{
	width: 70%;
	resize: none;
}

.post{
	border: 5px solid blue;
	text-align:left;
	min-height: 40px;
	background-image: linear-gradient(to right, gray, white, gray);
	border-radius:20px;
	
}
#posty{
	margin-bottom:50px;
}
.search{
	background-color:#606060;
	border: 0px;
	border-radius : 20px;
	padding:6px;
}
.razem{
	text-align: center !important;
}
#contact>.user{
	margin:10px 0px;
}

.user{
	display:flex;
	align-items:center;
}

.user>img{
	width:40px;
	height:40px;
	border-radius:100%;
}

#leftnav{
	position:relative;
}
#dane{
	position:absolute;
	right:0px;
}

#hover_info{
	position:absolute;
	top:50px;
	right:0px;
	width:200px;
	height:50px;
	background-color:#CD5700;
	border-radius : 20px;
	padding:20px;
	align-items:  flex-start;
	flex-direction:column;
	z-index:20;
	
}
a{
	color:black;
	font-weight: 700;
	text-decoration:none;
}
hover_info_onof{
	
}
#off, #offfoto{
	z-index:10;
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:none;
	
}
#offfoto{
background-color:rgba(128,128,128, 0.8);
}

p{
	white-space: normal !important;
      word-wrap: break-word;
}

.image>img{
	width:200px;
	cursor:pointer;
}
#hoverfoto{
	z-index:20;
	max-height:100%;
	max-width:100%;
}

#hoverfotobox{
	position:relative;
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	height:100%;
}
.uzerinfo{
	background-color:#CD5700;
	border-radius:20px;
	padding:30px;
}

.poleadduser{
	background-color:#CD5700;
	width:300px;
	height:250px;
	border-radius:20px;
	padding:30px;
}

.rej, .rejbutton{
	
	padding:10px;
	border-radius:20px;
}
.rej{
	margin: 20px 0px;
}

.oceny{
	display:flex;
	flex-direction:row;
}
.kom{
	border-top:1px solid gray;
}
.click{
	cursor:pointer;
}
footer{
	background-color:#CD5700;
	border-radius: 20px 20px 0px 0px;
	width:100%;
	height:60px;
	position: fixed;
	bottom: 0px;
	z-index:1;
}

.heart, .star{
	cursor: pointer;
	
}

.black{
	color:black;
}

.blueline{
	padding:4px;
	font-size: 30px;
	text-align:center;
	margin: 10px 0px;
	background-color:blue;
	
}
.blueline > div{
	display:flex;
	justify-content:space-around;
	
}

#napoje{
	display:flex;
	justify-content:center;
}
#napoje > div > .nnnnnn{
	background-color:white;
	border-radius: 20px;
	display:flex;
	flex-direction:column;
	padding: 20px;
	margin: 10px;
}
.napoj{
	width:100px;
}
#napoje > div > .karteczka{
	width:100px;
	height:30px;
	border-radius: 10px;
	background-color:yellow;
	margin:auto;
	margin-top:-20px;
	color:black;
	text-align:center;
	font-size: 30px;
}
#napoje > div{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

#inputy{
	margin-top:20px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
#inputy>div{
	display:flex;
	justify-content:center;
}

button{
	background-color:black;
	border-radius: 13px;
	color:white;
	padding:10px;
	border: 0px solid blue;
	font-size: 30px;
	cursor:pointer;
	
}
#cena{
	font-size: 30px;
	text-align:center;
	border-radius: 13px;
	padding:10px;
}
#polezielone{
	background-color:#c5f542;
	border: 3px solid black;
	width:500px;
	margin:20px;
	color:black;
}
#end{
	display:flex;
	justify-content:space-around;
}
#end>#dawajnapuj{
	height:340px;
	width:120px;
	background-color: black;
	border-radius: 20px;
	padding: 20px;
	margin: 10px;
}

#dawajhajs{
	height:100px;
	width:200px;
	background-color: black;
	padding: 20px;
	margin: 10px;
	display:flex;
	flex-wrap:wrap;
}

#dawajhajspomoc{
	display:flex;
	align-items:center;

}
.tenzl, .twentyzl, .fiftyzl{
	background-color:green;
	width:50px;
	height:20px;
	color:black;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-right:2px;
}
.onezl, .twozl{
	background-color:gray;
	width:30px;
	height:30px;
	color:black;
	border-radius:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-right:2px;
}
.fivezl{
	background-color:gold;
	width:30px;
	height:30px;
	color:black;
	border-radius:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-right:2px;
}





